body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, rgb(0, 105, 128), rgb(42, 42, 194));
}

body {
    display: flex;
    justify-content: center; /* Alterado para centralizar horizontalmente */
    align-items: center;
    margin: 0;
}

.login-container {
    background-color: rgb(17, 17, 17);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 100px 100px 100px rgba(83, 52, 52, 0.1);
    max-width: 300px;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #108cca;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px -10px; /* Ajuste da margem vertical */
    border: 1px solid #ffffff;
    border-radius: 5px;
}

button {
    background-color: #333;
    margin: 10px -10px;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #108cca;
    transform: scale(1.1);
}

button:focus {
    outline: none;
}
