
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #002a7e;
    color: rgb(6, 189, 240);
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  .post-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  .post-form button {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
  }
  
  .post-list {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
  
  footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f4f4f4;
  }
  
  /* Estilos para as postagens */
post {
    color:red;
    background-color: #f4f4f4;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  